<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title >
      My Trades - View infos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="primary" [disabled]="isComplete == true ? true : false" (click)="editStatus()">Edit Status</ion-button>
  <ion-button color="primary" [disabled]="isComplete == true ? true : false" (click)="editInfos3()">Edit Type</ion-button>
  <ion-button color="primary" [disabled]="isComplete == true ? true : false" (click)="editInfos()" *ngIf="trade.id_trades_type == '1'">Edit Infos</ion-button>
  <ion-button color="primary" [disabled]="isComplete == true ? true : false" (click)="editInfos2()" *ngIf="trade.id_trades_type == '2'">Edit Infos</ion-button>
  <ion-list>
    <ion-item>
      <ion-label>Card Name: </ion-label>
      <ion-label>{{trade.card_name}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Collection: </ion-label>
      <ion-label>{{trade.collection}}</ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>Quality: </ion-label>
      <ion-label>{{trade.quality}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Buyer Name: </ion-label>
      <ion-label style="color:cornflowerblue" (click)="openPerfil(trade.id_buyer)">{{trade.buyer_name}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Seller Name: </ion-label>
      <ion-label style="color:cornflowerblue" (click)="openPerfil(trade.id_seller)">{{trade.seller_name}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Type Trade: </ion-label>
      <ion-label>{{trade.trades_type}}</ion-label>
    </ion-item>

    <ion-item *ngIf="trade.id_trades_type == '1'">
      <ion-label>Postal Code Buyer </ion-label>
      <ion-label>{{trade.security_postal_code_buyer}}</ion-label>
    </ion-item>

    <ion-item *ngIf="trade.id_trades_type == '1'">
      <ion-label>Postal Code Seller </ion-label>
      <ion-label>{{trade.security_postal_code_seller}}</ion-label>
    </ion-item>

    <ion-item *ngIf="trade.id_trades_type == '2'">
      <ion-label>Localization </ion-label>
      <ion-label>{{trade.localization}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Buyer Status </ion-label>
      <ion-label>{{trade.buyer_status}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Seller Status </ion-label>
      <ion-label>{{trade.seller_status}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Trade Status </ion-label>
      <ion-label>{{trade.status}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-text>Observations: </ion-text>
    </ion-item>

    <ion-item>
      <ion-text>{{trade.obs}}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
